* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(250, 235, 215);
	padding-top: 20px;
}

.wrapper {
	width: 700px;
	margin: 0 auto;

	background-color: rgb(222, 184, 135);
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.container { padding: 0 40px; }

.personal-information,
.tech-skills,
.soft-skills, 
.examples,
.education { padding-top: 15px; }

.personal-information .contacts,
.personal-information .information,
.objective .objective-text,
.tech-skills ul,
.soft-skills ul,
.examples ul,
.education .wrapper-education,
.footer ul {
	font-size: 15px;
	line-height: 20px;
}

.personal-information .contacts .contacts-header,
.objective .objective-header,
.tech-skills .tech-skills-header,
.soft-skills .soft-skills-header,
.examples .examples-header,
.education .education-header {
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
}

.header .main-header {
	padding-top: 10px;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

.personal-information {
	min-height: 305px;
	position: relative;
	
}

.personal-information .my-photo {
	width: 270px;
	display: block;
	position: absolute;
	left: 350px;
	border-radius: 50%;
}

.personal-information .contacts .contacts-header { font-size: 15px; }

.personal-information .contacts { padding-top: 60px; }

.personal-information .information { padding-top: 20px; }

.personal-information .contacts .contacts-link {
	color: #000;
	text-decoration: none;
}

.tech-skills li,
.soft-skills li,
.examples li,
.footer li { list-style-type: none; }

.tech-skills li::before,
.soft-skills li::before,
.examples li::before { content: "✦ "; }

.examples .examples-link { color: #000; }